:root {
    --thistle: #cdb4dbff;
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: #a2d2ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fairy-tale);
    font-family: 'Oswald', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    position: fixed;
    top: 10px;
    left: 60px;
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

#gif {

    max-width: 100%; /* Allow responsive resizing */
    height: auto;    /* Maintain aspect ratio */

}

#message {
    text-align: center;
    color: black;
    font-weight: 900;
}

.btn {
    width: 7rem;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: solid white 2px;
    transition: background-color 0.3s ease;
}

.options {
    display: flex;
    gap: 3rem;
}

#no {
    background-color: rgb(221, 69, 69);
}

#yes {
    background-color: rgb(90, 238, 90);
}

/* Responsive design */
@media (max-width: 768px) {
    #message, p {
        font-size: 2rem;
        font-weight: 900;
    }

    .btn {
        width: 7rem;
        font-size: 1.5rem;
    }
}
